<div>
    <h2>Song List</h2>
    <table style="text-align: center">
        <thead>
            <tr>
                <th>Flag</th>
                <th>Title</th>
                <th>Country</th>
                <th>Listen Slots</th>
                <th>Checked Out</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let music of musicList">
                <td><img src = 'http://localhost:3000/api/flag/{{music.country}}' style="max-width: 50px;"></td>
                <td>{{music.song_title}}</td>
                <td>{{music.country}}</td>
                <td>{{music.listening_slots}}</td>
                <td>{{music.checked_out}}</td>
            </tr>
        </tbody>
    </table>

</div>
